/*
Created 6/30/2020 by Duytan Tran
Edited 7/1/2020 by Caroline Wheeler: Updated styling
Edited 7/7/2020 by Sean Michaels: Created a container so that memory display will be up and some CSS for that display.
                                    Fixed some CSS for the calculator and the memory display.
CSS code styling for calculator.html
*/

/*
    Created 7/7/2020 by Sean Michaels
    Container div that allows for the memory and calculator displays and next to each other.
 */
.container{
    display: flex;
    justify-content: space-around;
}

/*
 Created 7/1/2020 by Caroline Wheeler
 Styling for the web page
 */
body{
    margin: 70px 100px;
    font-family: Arial, sans-serif;
    background: aliceblue;
}

/*
  Created 6/30/2020 by Duytan Tran
  Edited 7/1/2020 by Caroline Wheeler: Added background color & padding
  Styling for entire calculator
*/
.calculator {
    float: left;
    width: 375px;
    background: lightslategray;
    padding: 10px;
    max-height: 275px;
}

/*
  Created 6/30/2020 by Duytan Tran
  Edited 7/1/2020 by Caroline Wheeler: Added padding & background color
  Styling for displays
*/
.display, .prepared_display {
    text-align: right;
    font-size: xx-large;
    border: black solid thin;
    padding: 5px;
    background: white;
    margin-bottom: 5px;
}

/*
  Created 6/30/2020 by Duytan Tran
  Styling for prepared displays
*/
.prepared_display {
    font-size: large;
    height: 20px;
}

/*
  Created 6/30/2020 by Duytan Tran
  Styling for buttons
*/
.buttons {
    display: grid;
    font-size: x-large;
    height: 200px;
    width: 375px;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

/*
    Created 7/7/2020 by Sean Michaels
    Styling for the Memory display.
 */
.memory_display {
    background: lightslategray;
    display: table-column;
    width: 350px;
    text-align: center;
    font-size: xx-large;
    border: black solid thin;
    padding: 5px;
    margin-bottom: 5px;

}
/*
    Created 7/7/2020 by Sean Michaels
    Styling for the Memory display.
 */
.memory_display button {
    border: 1px solid black;
    width: 350px;
    display: block;
}

/*
    Created 7/7/2020 by Sean Michaels
    Styling for the Memory display.
    Background of button when mouse is hovering.
*/
.memory_display button:hover {
    background-color: #61c8fd;
}
